html{
    background-color: rgba(254, 244, 218, 1);
}
body{
    height: 100vh;
    min-height: 400px;
    min-width: 600px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}
.screen{
    height: 90vh;
    min-height: 400px;
    width: 80%;
    min-width: 600px;
    margin: 0;
    padding: 0;
    /*border: 4px solid gray;*/
    box-shadow: 2px 4px 10px 2px gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./src/img/wallpaper_catalina_1.jpg");
    /*background-image: url("./src/img/grid.jpg");*/

    background-size: cover;
    background-repeat: no-reapeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}
.top{
    height: 20px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(255, 255, 255, 0.8);
}
.mid{
    height: 50rem;
    width: 100%;
    /*border-radius: 10px;*/
     background-color: rgba(255, 240, 221, 0);

}
.bot{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: none;
    box-shadow:0px -1px 0px black;
    height: 60px;
    width: 80%;
    border-radius: 10px 10px 0px 0px;
    background: inherit;
    overflow: hidden;
}
.bot-safezone{
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    /*border: 1px solid white;*/
    /*background-color: rgba(255, 255, 255, 0.4);*/
    background: inherit;
    filter: blur(2px);
}