html{
    background-color: rgba(254, 244, 218, 1);
}
body{
    margin: 0px;
    /* padding: 0px; */
}
.alice{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid darkturquoise;
    /* background-image: url(./src/img/wallpaper_catalina_1.jpg); */
}
.bob{
    height: 50px;
    width: 100px;
    background-color: pink;
    border: 2px solid darkturquoise;
}
.screen{
    min-height: 100vh;
    width: 100%;
    /* border: 2px solid red; */

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
}
.info{
    transition: all 0.8s;
    height: 100vh;
    /* width: 20%; */
    /* min-width: 240px; */
    width: 300px;
    border-radius: 0px 10px 10px 0px;
    
    /* background-color: darkturquoise; */
    box-shadow: 1px 1px 4px 0px rgb(206, 206, 206);
    filter: grayscale(100%);
}
.info:hover{
    transition: all 0.2s;
    box-shadow: 1px 1px 10px 2px rgb(175, 175, 175);
    filter: blur(0);
    filter: grayscale(0%);
}
.idcards{
    height: 200px;
    width: 300px;
    border-radius: 0px 10px 0px 0px;
    /* background-color: darkturquoise; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid darkturquoise; */
    /* background-image: url(./src/img/wallpaper_catalina_1.jpg); */
}
.idcard{
    transition: all 0.4s;
    height: 161.94px;
    width: 256.8px;
    /* background-color: pink; */
    border-radius: 9.54px;
    box-shadow: 1px 2px 2px 0px rgb(190, 190, 190);
    /* border: 2px solid darkturquoise; */
    background-image: url(./src/img/ov76.jpeg);
}
.idcard:hover{
    transition: all 0.2s;
    box-shadow: 1px 2px 8px 4px rgb(121, 121, 121);
}


.control{
}